@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.banner{
 background: url("https://assets-global.website-files.com/5bfd5ccdddc00c144ef694a4/5bfee289217c2782c2b140b8_Banner.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 top: -140px;
 width: 100%;
 height: 407px;
 display: flex;
 flex-direction: column;
 align-items:center;
}

.site-name{
  word-spacing: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  font-weight: bolder;
  text-shadow: 2px 2px #1779BA;
  color:#fff;
}

.category-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 350px;
    max-width: 100%;
    letter-spacing: 0.1em;
    display: inline-block;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 13pt;
    font-variant: small-caps;
    width: 400px;
    background-color: #fff;
    text-align: center;
        padding-top: 25px;
        padding-left: 40px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 5%);
    margin-right: 24px;
}

.category-img {
  border-radius: 10px;
  width: 320px;
  height: 250px;
  margin-bottom: 15px;
  overflow: hidden;
}

/* This is a way to force the images to fit without stretching them too much, but in a professionl environment you will have images that are the right dims or at least the right width/height ratip */
.category-img img{
    min-width:320px;
    min-height:250px;
}


.content{
  background-color: #f8f8ff;
  padding: 50px;
  min-height: calc(100vh - 300px);
  /* Izzy, nice way to handle the height here*/
  display: flex;
  justify-content: center;
}

/* this is what was making your flex alignment wonky. it's not needed
.category{
  display: table;
}
*/

#web-name{
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    font-weight: bolder;
    text-shadow: 2px 2px #1779BA;
}

.category-details{
 padding-right: 39px;
}

