.error {
  color: rgb(219, 47, 47);
}

.wrap-width {
  width: 80%;
  max-width: 1200px;
  margin-top: 100px;
}

.restaurant-tile-show {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 15px 30px rgb(0 0 0 / 5%);
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.restaurant-tile-show h2 {
  margin: 0;
}

.restaurant-tile-show img {
  border-radius: 10px;
  margin-bottom: 16px;
}

.review-tile {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.stars-and-review-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.review-date {
  font-size: 0.8em;
  margin-right: 0.3em;
}

.review-form {
  text-align: right;
}

.write-review-button {
  display: inline-block;
  padding: 1em;
  background-color: #ccc;
  margin-bottom: 2em;
  border-radius: 8px;
  cursor: pointer;
}

.write-review-button:hover {
  background-color: #aaa;
}

.review-stars {
  color: #333;
}

.address-phone-ul {
list-style-type: none;
padding: 0;
margin-bottom: 1.5em;
margin-left: 0;
font-size: .75em;
}

.notfound h2 {
  text-align: center;
  color: blue;
}

.notfound div {
  margin-left: 22%;
}

.images {
  height: 60%;
  width: 60%;
  border: black;
}

.review-button {
  padding: 20px;
  border-radius: 7px;
  background-color: #F43939;
}

form {
  margin-top: 80px;
}

.write-review-button {
  background-color: #F79628;
}

.button {
  background-color: #1779ba;
  color: #fefefe;
  display: block;
  position: absolute;
  margin-top: 30%;
  margin-left: 42%;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 10px;
}