.error {
  color: rgb(219, 47, 47);
}

.wrap-width {
  width: 80%;
  max-width: 1200px;
  margin-top: 100px;
}

.restaurant-tile-show {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 15px 30px rgb(0 0 0 / 5%);
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.restaurant-tile-show h2 {
  margin: 0;
}

.restaurant-tile-show img {
  border-radius: 10px;
  margin-bottom: 16px;
}

.review-tile {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.stars-and-review-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.review-date {
  font-size: 0.8em;
  margin-right: 0.3em;
}

.review-form {
  text-align: right;
}

.write-review-button {
  display: inline-block;
  padding: 1em;
  background-color: #aaa;
  margin-bottom: 2em;
  cursor: pointer;
  border-radius:50px;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    text-transform: lowercase;
    font-size: 13pt;
    color: white;

}

.write-review-button:hover {
  background-color: #aaa;
}

.review-stars {
  color: #333;
}

.address-phone-ul {
list-style-type: none;
padding: 0;
margin-bottom: 1.5em;
margin-left: 0;
font-size: .75em;
}

.notfound h2 {
  text-align: center;
  color: blue;
}

.notfound div {
  margin-left: 22%;
}

.images {
  height: 60%;
  width: 60%;
  border: black;
}

#review-button {
  padding: 20px;
  border-radius: 50px;
  background-color: #d4d4d4;
  margin-right: 10px;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  text-transform: lowercase;
  font-size: 13pt;
  color: #fff;
  font-variant: small-caps;

}

form {
  margin-top: 80px;
}

.restaurant-details{
 padding-right: 30px;
}

.restaurant-box{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 350px;
    max-width: 100%;
    letter-spacing: 0.1em;
    display: inline-block;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 10pt;
    font-variant: small-caps;
    width: 400px;
    background-color: #fff;
    text-align: center;
    padding-top: 29px;
    padding-left: 3px;
    padding-bottom: 13px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 5%);
    margin-right: 24px;
    margin-bottom: 38px;
}

.biz-name {
    margin-left: 12px;
    font-size:1.9375rem;
}

.transform{
 transition: transform 1s;
 min-width:320px;
 min-height:250px;
}

.transform:hover{
transform: scale(1);
opacity:0.3;
}
